<section class="container">

  <div class="about">
    <h1 class="text-center mb-5 title">About</h1>
    <p>
      Dojo Toolkit is an open source modular JavaScript library designed to ease the rapid development of
      cross-platform, JavaScript/Ajax-based applications and web sites.

      No prior knowledge of DOJO or any javascript library is required Everything will be explained from the scratch.

      Dojo library facilitates common JavaScript tasks such as DOM manipulation, animations, event handling, and server
      communication with ajax. In addition to its many easy-to-use features, DOJO also addresses the cross-browser
      compatibility issues automatically.

      DOJO also has many ready to use html widgets in the DIJIT package that will help you create most commonly used
      html components like forms, dialog boxes, menus, etc with very little HTML and javascript coding. It also provides
      various styling themes that you can use to maintain a consistent look and feed through out the application.

      In this course, you will learn everything you need to get started with using various components of the DOJO
      toolkit from scratch. We will start with the basic stuff and get to more advanced topics as we progress.

      I will guide you through the se
    </p>
    <p>
      Different companies use different methods to organize their projects and choosing the right tool to suit their
      needs is best determined by the type of methodology they use. Jira is a good example of a project management tool
      that can help various teams to manage projects.

      Jira is a project management and issue tracking tool that is very flexible and customizable, making it useful in a
      wide array of environments. Jira issue types and workflows allow customization for almost any scenario and can all
      be easily configured with the help of the administrative backend.

      There are different versions of Jira available, but the core concepts are applicable across these versions. This
      course uses a non-premium version of Jira Software on Cloud. Jira Software is the Jira flagship version that is
      commonly used for agile project management, meaning companies who use the agile methodology will benefit from
      using it. In connection to this, learning some agile concepts is required for learning Jira. A crash course on the
      basics of agile methodology is included in this course.
    </p>
    <p>
      Docker & Kubernetes are amongst the most in-demand technologies and topics you can learn these days.

      Why?

      Because they significantly simplify the development and deployment process of both simple and complex software
      projects. Especially in web development (though not limited to that), Docker can really take you to the next
      level!

      With Docker, you create and manage so-called "Containers" - basically packages of code and tools required to run
      that code. These containers allow you to run your programs in a predictable, environment-independent way - no
      matter where you need to run it.

      For modern DevOps but also for local development - on your own or in a team - this is a winner feature since you
      will no longer have any "but it worked on my machine" discussions. It works inside of a container, hence it works
      everywhere!

      This course will teach you both Docker & Kubernetes from the ground up with all the required theory and tons of
      examples and demos!
    </p>
    <p>
      Every other course online teaches you the basic syntax and features of Typescript, but only this course will show
      you how to apply Typescript on real projects, instructing you how to build large, successful projects through
      example.

      Typescript is a 'super-set' of Javascript. That means that if you already know Javascript, you are ready to take
      this course. Typescript adds in several important features to Javascript, including a type system. This type
      system is designed to help you catch errors during development, rather than when you are running your code. That
      means you'll be twice as productive by catching bugs earlier in development. But besides the type system,
      Typescript also provides several tools for structuring large codebases and writing truly reusable code.

      Mastering Typescript by reading the documentation alone is challenging. Although you might know what a 'typed
      array' or an 'interface' is, the documentation (and other courses!) don't show you where to use this features, or
      how to use them effectively. The goal of this course is to help you understand why each feature of Typescript
      exists, and exactly where to use them.

      Top companies are hungry for Typescript developers. Some of the largest web apps today are being built with
      Typescript. Employers are scrambling to find engineers who are fluent with this cutting edge system. Solid
      knowledge of Typescript will make you far more employable, by giving you a unique skill that few other engineers
      possess.
    </p>

    <div class="follow text-center">
      <h4>Follow Us</h4>
      <a href="https://www.facebook.com"><i class="fa fa-facebook"></i> </a>
      <a href="https://www.youtube.com"><i class="fa fa-youtube"></i></a>
      <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
      <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</section>
